body{
	font-family: 'Lato', sans-serif;
	font-size:14px;
	color:#333;
	background:#99bbb294;
}

a{
	color:#abbfb5;
	text-decoration: none;
}

h1{
	text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

p {
	font-family: 'Crimson Text', serif;
	font-size: 18px;
	text-align: center;
	margin-bottom: 30px;
}

.scroll-inner-tops{
	width: 50%;
    height: auto;
    position: relative;
    overflow: hidden;
    float: none;
    margin: 0 auto;
}

.scroll-inner-tops img{
	display:none;
	    width: 40%;
    height: auto;
}


.scroll-outer-tops {
    margin: 35px auto 0;
    text-align: center;
    overflow: hidden;
    display: block;
    float: none;
    width: 100%;
    position: relative;
}

.scroll-inner-tops img.activeTop{
	display:inline-block;
}

.scroll-inner-bottoms{
	 width: 50%;
    height: auto;
    position: relative;
    overflow: hidden;
    float: none;
    margin: 0 auto;
}

.scroll-inner-bottoms img{
	display:none;
	    width: 40%;
    height: auto;
}

.scroll-outer-bottoms {
     margin: 0 auto;
    text-align: center;
    overflow: hidden;
    display: block;
    float: none;
    position: relative;
    width: 100%;
}
.scroll-inner-bottoms img.activeBottoms{
	display:inline-block;
}

.scroll-inner-shoes{
	 width: 50%;
    height: auto;
    position: relative;
    overflow: hidden;
    float: none;
    margin: 0 auto;
}

.scroll-inner-shoes img{
	display:none;
	 width: 40%;
    height: auto;
}

.scroll-outer-shoes {
        margin: 0 auto 35px;
    text-align: center;
    overflow: hidden;
    display: block;
    float: none;
    position: relative;
    width: 100%;
}

.scroll-inner-shoes img.activeShoes{
	display:inline-block;
}

.prevTop,.nextTop{
	cursor: pointer;
}

.prevBottoms,.nextBottoms{
	float:left;
	margin-bottom:130px;
	cursor: pointer;
}

.prevShoes,.nextShoes{
	float:left;
	margin-bottom:130px;
	cursor: pointer;
}

.prevTop,.prevBottoms,.prevShoes{
	position: absolute;
    z-index: 100;
    left: 31%;
    top: 43%;
    margin: 0 auto;
}

.nextTop,.nextBottoms,.nextShoes{
	    position: absolute;
    z-index: 100;
    right: 31%;
    top: 43%;
    margin: 0 auto;
}

.saveEnsemble {
    background: white;
    font-weight: bold;
    padding: 10px 20px;
    float: none;
    margin: 0 auto 60px;
    cursor: pointer;
    text-align: center;
    width: 250px;
    font-size: 16px;
    display: block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
}

.saveEnsemble:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    border-style: solid;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    left: calc(50% - 15px);
    top: 0px;
    border-width: 0 15px 15px 15px;
    border-color: transparent transparent white transparent;
}

.saveEnsemble:hover {
    text-decoration: none;
    color: #40d840;
}

.saveEnsemble:hover:before, 
.saveEnsemble:focus:before, 
.saveEnsemble:active:before {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
}

.saveEnsemble i {
    color: #40d840;
    margin-right: 5px;
}

.backto {
    color: #333;
    font-size: 16px;
}

a.backto.right.hvr-icon-wobble-horizontal {
    width: 100%;
    text-align: right;
}

a.backto.right.hvr-icon-wobble-horizontal:hover,
a.backto.hvr-icon-wobble-horizontal:hover {
    text-decoration: none;
    color: #333;
}

.hvr-shutter-in-vertical:before {
    background: white;
}

.hvr-shutter-in-vertical:active, 
.hvr-shutter-in-vertical:focus, 
.hvr-shutter-in-vertical:hover {
    text-decoration: none;
}

.hvr-shutter-in-vertical:active .fa, 
.hvr-shutter-in-vertical:focus .fa, 
.hvr-shutter-in-vertical:hover .fa {
    color: white;
}

a.remove {
    background: #ea7171;
    font-weight: bold;
    padding: 10px 20px;
    float: none;
    margin: 30px auto 0px;
    cursor: pointer;
    display: block;
    text-align: center;
    width: 100%;
    font-size: 16px;
}

.closet img {
    width: 100%;
    height: auto;
    max-height: 375px;
    margin: 0 auto;
}

.closet {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 55px;
}

.saved-outfit {
    border: 2px solid;
    width: 25%;
    padding: 40px 30px;
}

i.fa.fa-times {
    color: #ea7171;
    margin-right: 6px;
    font-size: 18px;
}

@media (max-width: 500px) {


.scroll-inner-tops, .scroll-inner-bottoms, .scroll-inner-shoes {
    width: 100%;
}

.prevTop, .prevBottoms, .prevShoes {
	left: 20%;
}

.nextTop, .nextBottoms, .nextShoes {
	right: 20%;
}

}